.float-container{
	background-color: ;
	height: 100%;
}
.header{ position:fixed;
	     padding: 20px,0;
         width: 100%;
         left: 0;
         top: 0;
         background-color: #fff;

}

.navigation{
	float: right;
}
.navigation{ display: inline-block; 
	vertical-align: middle;
	margin-right: 60px;
}
.navigation-a {text-decoration: none;
}

.navigation-a:hover{ color: #8B0000;
	transition: all 0.3s ease;
}
.navigation-li { display: inline-block; 
	margin-right: 20px;

}
.clear {clear: both;
}
body{ padding-top: 57px;

}

}
body, html {height: 100%;
	width: 100%;



	/*padding: 40px;*/
}
 
}
.article, banner-img { margin-top:15px;
	           margin-left:30px;
	           width:10%; 
	       }	

	      
	     


/*contact container*/
.text-container { text-align: center;
padding: 150px: 0;
}
.text-container .title {
	color: #4682B4;
	font-size: 20px;
}
/*contact container*/

/*about us container */
.aboutus-p { display:block 
	vertical-align: middle;
	background-color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}
.aboutus-p2 { display:block 
	vertical-align: middle;
	background-color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}
/*about us container */
/*/banner logo container*/
.banner-logo { width:100px;
position: absolute; 
left: 30px;
top: 60px;
animation: anim .8s infinite;
}
.banner-logo:hover {left: 50px;
 }
/*/banner logo container*/
@keyframes anim {
	20%{
		transform:rotate(72deg) 

	}
	40%{
		transform:rotate(144deg) 


	}
	60%{ 
		transform:rotate(216deg) 


	}
	80%{ 
		transform:rotate(288deg) 

		

	}
	100%{ 
		transform:rotate(460deg) 


	}
}

