.float-container{
	background-color: ;
	height: 100%;
}
.header{ position:fixed;
	     padding: 20px,0;
         width: 100%;
         left: 0;
         top: 0;
         background-color: #fff;

}

.navigation{
	float: right;
}
.navigation{ display: inline-block; 
	vertical-align: middle;
	margin-right: 60px;
}
.navigation-a {text-decoration: none;
}

.navigation-li { display: inline-block; 
	margin-right: 20px;

}
.clear {clear: both;
}
body{ padding-top: 57px;

}

}
body, html {height: 100%;
	width: 100%;
	


	/*padding: 40px;*/
}
.article, img {margin-top:15px;
	           margin-left:218px;
}

/*contact container*/
.text-container { text-align: center;
padding: 150px: 0;
}
.text-container .title {
	color: #4682B4;
	font-size: 20px;
}
/*contact container*/