body { background-color : #E6E6FA }
.logo{
	
	width:95px;
	display: inline-block;
	vertical-align: middle;
}
.navigation{ display: inline-block; 
	vertical-align: middle;
}
.navigation-a{ 

	display:inline-block;
	text-decoration:none;
	padding: 7px; 
}
.navigation-li { display: inline-block; 
}
.navigation-ul { margin-left:30px

}
.banner-section{margin-top:15px;
	           margin-left:218px;
	           width:100%;
}
/*contact container*/
.text-container{ text-align: center;
padding: 150px: 0;
}
.text-container .title {
	color: #4682B4;
	font-size: 20px;
}
/*contact container*/

